

.main-container {
    height: 450px;
    width: 900px;
    position: relative;
    margin: 300px auto;
    border-radius: 10px;
}

.first {
    
    height: 450px;
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    background-color:hsl(31, 77%, 52%) ;
}

.second {
    
    height: 450px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 300px;
    background-color: hsl(184, 100%, 22%);

}

.third {
  
    height: 450px;
    width: 300px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 0;
    left: 600px;
    background-color: hsl(179, 100%, 13%);

}

.icon{
    position: relative;
    top: 45px;
    left: 45px;
    width: 70px;
}

h1{
     font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    color:hsl(0, 0%, 95%);
    text-transform: uppercase;
    padding-top: 50px;
    padding-left: 45px;
    font-size: 35px;
}

p{
    padding-top: 25px;
    padding-left: 45px;
    padding-right: 50px;
    font-family: Lexend Deca;
    font-weight:400;
    color: hsla(0, 0%, 100%, 0.75);
}
button{
    font-family: Lexend Deca;
    font-weight:400;
    cursor: pointer;
}
.first button{
    margin-left: 45px;
    border-radius: 25px;
    padding: 15px 40px;
    margin: 40px 40px;
    color: hsl(31, 77%, 52%) ;
    border: none;

}
.second button{
    margin-left: 45px;
    border-radius: 25px;
    padding: 15px 40px;
    margin: 40px 40px;
    color: hsl(184, 100%, 22%) ;
    border: none;  
}
.third button{
    margin-left: 45px;
    border-radius: 25px;
    padding: 15px 40px;
    margin: 20px 40px;
    color: hsl(179, 100%, 13%);
    border: none;  
}
.attribution {
    font-size: 20px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}